DATABASE_URL=postgres://username:password@localhost:port/nom_bd
PROJECT_NAME=Agrohelp-Consulting
PORT=8000
PRIVATE_KEY=
CONSUMER_KEY=
CONSUMER_SECRET=
MVOLA_BASE_URL=https://devapi.mvola.mg
MVOLA_API_URL=